* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color:  #54c7f1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 100px solid #268a33;
}


.game-board {
    width: 100%;
    height: 812px;
    border-bottom: 25px solid #268a33;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#54c7f1, #E0F6FF);
}

.pipe {
    position: absolute;
    bottom: 0;
    width: 90px;
    animation: pipe-animation 1.5s infinite linear;
}

@keyframes pipe-animation {
    from {
        right: -80px;
    }

    to {
        right: 100%;
    }
}

.mario {
    width: 150px;
    position: absolute;
    bottom: 0;
    
}

.jump {
    animation: jump-animation 500ms ease-in-out;
}

@keyframes jump-animation {
    0% {
        bottom: 0px;
    }

    40%{
        bottom: 180px;
    }

    50% {
        bottom: 180px;
    }

    60% {
        bottom: 180px;
    }

    100% {
        bottom: 100px;
    }
 }

.clouds {
    position: absolute;
    width: 550px;
    animation: clouds-animation 10s infinite linear;
}

@keyframes clouds-animation {
    from {
        right: 0;

    }
    to {
        right: 100%;
    }
}

audio {
    background-color:#54c7f1;
    display: flex;
    width: 150px;
    height: 50px;
    padding: 0;
    margin-left: 90%;
    margin-top: 10px;
    position: absolute;
    top: 0;
}